@use "./variables.scss" as *;

// Give left explorer breathing room from main content (default columnGap is 5px).
.page > #quartz-body {
  column-gap: 2rem;

  @media all and ($tablet) {
    column-gap: 1.5rem;
  }

  & > .sidebar.left {
    padding-right: 1.25rem;
  }

  & > #center {
    padding-left: 0.75rem;
  }
}
